.App {
  position: relative;
  width: 1440px;
  height: 1412px;

  /* white prim/99 */

  background: #fbfefd;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.w3-sidebar {
  z-index: 1;
  position: absolute;
  width: 426px;
  height: 1024px;
  left: -426px; /* start offscreen to the left */
  top: 0;
  background: #f2f2f2;
  transition: left 350ms ease-in-out; /* transition the left property */
}

.w3-sidebar.visible {
  left: 0; /* move to the left edge of the screen */
}

.w3-bar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  color: #555;
}

.w3-bar-item:hover {
  background: #fbfefd;
  border-radius: 15px; /* or any other value you prefer */
}

.hidden {
  display: none;
}
.logo {
  /* Glocali.se */
  display: flex;
  justify-content: center;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20.1724px;
  line-height: 25px;
  padding: 32px;
  letter-spacing: 0.075865px;

  color: #000000;
}

.collapse-svg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 80%;
  background-color: #f2f2f2;
  padding: 10px;
  transition: background-color 0.2s ease-in-out;
  max-width: 30px;
}

.collapse-svg:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fbfefd;
  padding: 10px;
  border-radius: 30%;
}
.home-svg {
  width: 24px;
  height: 24px;
  margin-right: 15px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.name-tag {
  width: 210px;
  height: 16px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #4c4c4c;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.search {
  position: absolute;
  left: 425px;
  width: 900px;
}

.search-child {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 0px 30px 49px;
  gap: 131px;
}

.search-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 470px 8px 16px;
  gap: 10px;
  width: 510px;
  height: 20px;
  background: #f2f2f2;
  border-radius: 8px;
}
.search-svg {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  margin-left: 10px;
}

.search-dropdown-user {
  display: flex;
}
.search-dropdown-username {
  display: flex;
}
.search-dropdown-username-name {
  width: 45px;
  height: 24px;
  font-family: "Lato";
  font-style: bold;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.heroframe {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  gap: 100px;

  position: absolute;
  width: 844px;
  height: 1231px;
  left: 476px;
  top: 146px;
}
.heroframe-child1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(90.43deg, #61d1b5 16.06%, #a1a3f7 98.82%);
  border-radius: 8px;
  width: 844px;
  height: 80px;
}
.heroframe-region-child2 {
  margin-left: 10px;
  position: absolute;
  width: 73px;
  height: 34px;
  left: 24px;
  top: 23px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  color: #fbfefd;
}
.heroframe-child2 {
  width: 844px;
  height: 1051px;
  box-shadow: 0px 2px 13px 1px rgba(7, 24, 20, 0.08);
  flex: none;
  order: 1;
  flex-grow: 0;
}
.heroframe-child2-child1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 26px;
  gap: 45px;
  position: absolute;
  width: 844px;
  height: 1051px;
  left: 0px;
  top: 180px;
  background: #fbfefd;
  border-radius: 8px;
}
.heroframe-child2-child1-child1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  width: 792px;
  height: 500px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.heroframe-child2-child1-child2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 28px;
  width: 790px;
  height: 406px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.w3-teal {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  padding: 10px;
  transition: background-color 0.2s ease-in-out;
}

.w3-teal:hover {
  transform: scale(1.1);
}
